#transaksi-otomatis .row {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}

#transaksi-otomatis .row .col:nth-child(1) span {
    color: #7C7C7C;
}

#transaksi-otomatis .row .col:nth-child(1) p {
    font-weight: 600;
    color: #323232;
}

#transaksi-otomatis .row .col:nth-child(2) span {
    color: #7C7C7C;
}

#transaksi-otomatis .row .col:nth-child(2) p {
    font-weight: 600;
}