.card {
  border-radius: 12px !important;
}

.card-body {
  padding: 32px 16px;
}

.card-subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #a7a7a7;
  margin: 16px 0 6px 0 !important;
}

.card-title {
  font-weight: 600;
  font-size: 32px;
  color: #323232;
}
