#transaksi-tertunda {
    font-family: 'Montserrat', sans-serif;
}

.transaksi-tertunda .routes span {
    color: #959595;
}

#transaksi-tertunda .transaksi-tertunda-content {
    min-height: 85vh;
}

.transaksi-tertunda-content .card {
    padding: 30px;
}

.transaksi-tertunda-content .card .d-flex h4 {
    padding: 30px 0;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #959595;
    line-height: 10px;
    cursor: pointer;
}

.transaksi-tertunda-content .card .d-flex .active {
    border-bottom: 2px solid #0085FF;
    color: #0085FF;
}

.transaksi-tertunda-content .card .p-datatable-wrapper table tbody a {
    text-decoration: none;
    color: #323232;
}

.transaksi-tertunda-content .card .p-datatable-wrapper table tbody .changeItemStatusAccept {
    padding: 6px 24px;
    background-color: #D4F1DD;
    color: #1B7A37;
    border-radius: 9px;
}

.transaksi-tertunda-content .card .p-datatable-wrapper table tbody .changeItemStatusPending {
    padding: 6px 16px;
    background-color: #FEF7DB;
    color: #7D6D25;
    border-radius: 9px;

}

.transaksi-tertunda-content .card .p-datatable-wrapper table tbody .changeItemStatusFailed {
    background-color: #FFDFD7;
    color: #AA3E24;
    padding: 6px 26px;
    border-radius: 9px;
}

.transaksi-tertunda-content .card .d-flex .search-container .btn-group .dropdown-menu {
    width: 240px;
}

.transaksi-tertunda-content .card .d-flex .search-container .btn-group .dropdown-toggle::after {
    display: none !important;
}

@media screen and (max-width: 1070px) {
    .transaksi-tertunda-content .card .d-flex h4 {
        font-size: 16px;
        line-height: 0;
    }

    .transaksi-tertunda-content .card .d-flex .input-search {
        width: 100% !important;
    }

    .transaksi-tertunda-content .card .d-flex {
        margin-bottom: 10px;
    }

    .transaksi-tertunda-content .card .d-flex .filtering-data-manual {
        justify-content: center;
    }

}


@media screen and (max-width: 784px) {
    .transaksi-tertunda-content .card .d-flex h4 {
        font-size: 14px;
        line-height: 0;
    }

    .transaksi-tertunda-content .card .p-datatable-wrapper table thead tr th {
        font-size: 14px
    }

    .transaksi-tertunda-content .card .p-datatable-wrapper table tbody,
    .transaksi-tertunda-content .card .p-datatable-wrapper table tbody a {
        text-decoration: none;
        color: #323232;
        font-size: 15px;
    }

    .transaksi-tertunda-content .card {
        padding: 7px;
    }
}

@media screen and (max-width: 620px) {
    .transaksi-tertunda-content .card .d-flex h4 {
        font-size: 12px;
        line-height: 0;
    }

    .transaksi-tertunda-content .card .p-datatable-wrapper table tbody,
    .transaksi-tertunda-content .card .p-datatable-wrapper table tbody a {
        font-size: 12px;
    }

}

/* @media screen and (max-width: 432px) {
    .transaksi-tertunda-content .card {
        padding: 7px;
    }
} */