#transaksi-tertunda {
    font-family: 'Montserrat', sans-serif;
}

.transaksi-tertunda .routes span {
    color: #959595;
}

#transaksi-tertunda .transaksi-tertunda-content {
    min-height: 85vh;
}

.transaksi-tertunda-content .card {
    padding: 30px;
}

.transaksi-tertunda-content .card .d-flex h4 {
    padding: 30px 0;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #959595;
    line-height: 10px;
    cursor: pointer;
}

.transaksi-tertunda-content .card .d-flex .active {
    border-bottom: 2px solid #0085FF;
    color: #0085FF;
}

.transaksi-tertunda-content .card .p-datatable-wrapper table tbody a {
    text-decoration: none;
    color: #323232;
}

@media screen and (max-width: 1070px) {
    .transaksi-tertunda-content .card .d-flex h4 {
        font-size: 16px;
        line-height: 0;
    }

    .transaksi-tertunda-content .card .d-flex .input-search {
        width: 100% !important;
    }

    .transaksi-tertunda-content .card .d-flex {
        margin-bottom: 10px;
    }

    .transaksi-tertunda-content .card .d-flex .filtering-data-manual {
        justify-content: center;
    }

}


@media screen and (max-width: 784px) {
    .transaksi-tertunda-content .card .d-flex h4 {
        font-size: 14px;
        line-height: 0;
    }

    .transaksi-tertunda-content .card .p-datatable-wrapper table thead tr th {
        font-size: 14px
    }

    .transaksi-tertunda-content .card .p-datatable-wrapper table tbody,
    .transaksi-tertunda-content .card .p-datatable-wrapper table tbody a {
        text-decoration: none;
        color: #323232;
        font-size: 15px;
    }
}

@media screen and (max-width: 620px) {
    .transaksi-tertunda-content .card .d-flex h4 {
        font-size: 12px;
        line-height: 0;
    }

    .transaksi-tertunda-content .card .p-datatable-wrapper table tbody,
    .transaksi-tertunda-content .card .p-datatable-wrapper table tbody a {
        font-size: 12px;
    }

}

@media screen and (max-width: 432px) {
    .transaksi-tertunda-content .card {
        padding: 7px;
    }
}