/* style untuk border atas dan bawah pada header tabel */
.table-header-border {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  height: 48px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* style untuk setiap baris dalam tabel */
.table-row-height {
  height: 48px !important;
}

/* Style pada bagian dialog action */
.dialog-footer {
  height: auto;
  width: 218px;
  background-color: #ffffff;
}

.dialog-footer button {
  font-family: ontserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
}

.modal-dialog {
  width: 420px;
}

.doctor-name {
  text-decoration: none;
  color: black;
}
