.cardDokter .card {
  border-radius: 12px;
  width: 350px;
  height: 186px;
}

.cardDokter .card .card-body {
  padding: 32px 16px;
}

.cardDokter .card h6 {
  color: #a7a7a7;
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0 6px 0 !important;
}

.cardDokter .card h5 {
  font-weight: 600;
  font-size: 32px;
  color: #323232;
}

@media screen and (max-width: 550px) {
  .cardDokter {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .cardDokter .card {
    border-radius: 12px;
    width: 286px;
    height: 186px;
  }
}
