@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

nav {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Membuat kontennya berada di tengah secara horizontal */
  align-items: center;
  width: 328px; /* Fixed width */
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  overflow-x: hidden;
}

.emphati {
  width: Hug (84.97px);
  height: Hug (24.97px);
  padding: 3.49px;
  border-radius: 4.36px;
  gap: 3.49px;
  background-color: #0085ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 17.431px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.431px; /* 100% */
  margin-left: 10px;
}

.care {
  color: var(--primary-500, #0085ff);
  font-family: Montserrat;
  font-size: 17.431px;
  font-style: normal;
  font-weight: 700;
  line-height: 17.431px; /* 100% */
}

.nav {
  margin-top: 30px;
  gap: 5px;
  margin-left: 75px;
}

hr {
  height: 0px;
  align-self: stretch;
  stroke-width: 1px;
  stroke: #dadada;
  width: 228px;
}
