@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.text {
    color: var(--primary-500, #0085FF);
    font-feature-settings: 'salt' on;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.5px;
  }
  
  .item-content {
    display: flex; 
    align-items: center; 
    flex-direction: row;
  }
  
  .icon {
    margin-right: 20px; 
  }

  .sidebar-item {
    display: flex;
    width: 280px;
    height: 48px;
    padding: 12px 82px 12px 12px;
    align-items: center;
    gap: 16px;
    filter: grayscale(100%);
    transition: filter 0.3s;
    margin-bottom: 28px;
  }
  
  .sidebar-item:hover {  
    filter: grayscale(0%);
    display: flex;
    width: 228px;
    padding: 12px;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background: #EBF5FF;
  }
  
  #link {
    margin-bottom: 28px;
  }
    