@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Montserrat:wght@100;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
#logo {
  margin-bottom: 96px;
}

#dashboard-link, #chat-link, #transaksi-link, #artikel-link, #logout-link  {
  margin-bottom: 31px;
  padding: 12px 0 12px 12px;
}


/* #dashboard-link:hover, #chat-link:hover, #transaksi-link:hover, #artikel-link:hover, #logout-link:hover {
  background-color: #EBF5FF;
  border-radius: 12px;
}
#dashboard-link:active, #chat-link:active, #transaksi-link:active, #artikel-link:active, #logout-link:active {
  background-color: #0085FF;
  border-radius: 12px;
} */

.sidebar-item {
  display: flex;
  color: #0085ff;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 0;
}

.link:hover{
  background-color: #EBF5FF;
  border-radius: 12px;
}

.sidebar-item:active{
  background-color: #0085FF;
  color: white;
  border-radius: 12px;
}

.sidebar-item.active{
  background-color: #6d0000;
  color: white;
  border-radius: 12px;
}

.link.active{
  background-color: #0085FF;
  color: white;
  border-radius: 12px;
}

.link {
  display: flex;
  color: #0085ff;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 0;
    margin-bottom: 31px;
  padding: 12px 0 12px 12px;
}



.link-text{
  color: #0085ff;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 0;
}

/* .link-text:active{
  color: white;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 0;
} */


.link {
  text-decoration: none;
  /* background-color: red; */
}

/* #link:hover {
  background-color: #EBF5FF;
  border-radius: 12px;
} */

#icon-chat-svg{
  font-weight: bolder ;
}

#icon-chat-svg:active{
  font-weight: bolder ;
  color: #EBF5FF;
}


.active-icon {
  fill: #0085ff;
}
/* .active-icon:active {
  fill: #ffffff;
} */